@import "tailwindcss";

@theme {
  --color-neutral-dark-200: #121212;
  --color-neutral-dark-100: #4d4d4d;
  --color-neutral-light-100: #faf9f6;
  --color-neutral-light-200: #e9e9e9;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #4d4d4d;
  background-color: #faf9f6;
  font-family: var(--font-inter), sans-serif;
}

h1,
h2,
h3 {
  color: #121212;
}

a:disabled,
button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.imgDark {
  display: none;
}
